[Unit]
Description=Columbus DNS server
Documentation=https://github.com/elmasy-com/columbus-dns
Wants=network.target auditd.service

[Service]
Restart=always
ExecStart=/usr/bin/columbus-dns -config /etc/columbus-dns.conf
TimeoutStopSec=180

[Install]
WantedBy=multi-user.target
